<!DOCTYPE html>
<html>
  <head>
    <title> Princeton Connect</title>
  </head>
  <body>
    <h1>Princeton Connect</h1>
    <h2>Search fields</h2>
    <hr />
    <form action="searchform" method="get">
      <table style="width:20%">
        <tr>
          <td align = "right"> 
            <label for="netid">
              <span>Netid: </span>
            </label>
          </td>
          <td><input type="text" id="netid" name="netid" /></td>
        </tr>

        <tr>
          <td align = "right">
            <label for="name">
              <span>Name: </span>
            </label>
          </td>
          <td><input type="text" id="name" name="name" /></td>
        </tr>

        <tr>
          <td align = "right">
            <label for="email">
              <span>Email: </span>
            </label>
          </td>
          <td><input type="text" id="email" name="email" /></td>
        </tr>
        <tr>
          <td align = "right">
            <label for="phone">
              <span>Phone: </span>
            </label>
          </td>
          <td><input type="text" id="phone" name="phone" /></td>
        </tr>
        <tr>
            <td align = "right">
              <label for="description">
                <span>Description: </span>
              </label>
            </td>
            <td><input type="text" id="description" name="description" /></td>
          </tr>
        <tr>
          <td align = "right">
            <label for="Address">
              <span>Address: </span>
            </label>
          </td>
          <td><input type="text" id="address" name="address" /></td>
        </tr>  

        <tr>
           <td></td>
          <td><input type="submit" value="Submit" /></td>
        </tr>
      </table>
    </form>
    <hr />

    <table style="width:100%">
      <tr>
        <th align  = "left">Netid</th>
        <th align  = "left">Name</th>
        <th align  = "left">Email</th>
        <th align  = "left">Phone</th>
        <th align  = "left">Description</th>
        <th align  = "left">Address</th>
      </tr>
      {% if userEntries|length == 0: %} 
        (None) 
      {% else: %} {% for user in
      userEntries: %}
      <tr>
        <td align  = "left">{{user.getNetid()}}</td>
        <td align  = "left">{{user.getName()}}</td>
        <td align  = "left">{{user.getEmail()}}</td>
        <td align  = "left">{{user.getPhone()}}</td>
        <td align  = "left">{{user.getDescription()}}</td>
        <td align  = "left">{{user.getAddress()}}</td>
      </tr>
      {% endfor %}
    </table>

    {% endif %}
    <hr />

  </body>
</html>
