<!DOCTYPE html>
<html>
  <head>
      <title> Princeton Connect</title>
      <meta charset="utf-8">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDQe5G3tqd5Vfwefn7w3Djrv1L1bmlKkTw&libraries=places, geometry"></script>

  </head>
  <body>
      <div id = "header">
          <h1>Princeton Connect</h1>
      </div>

      <!-- Top navigation -->
      <ul class="nav">
        <!--<li><a href="/templates/submit">Submit Entry</a></li> -->
        <li><button class = "open-button" onclick="openForm()">Submit/Edit Your Entry</button></li>
        <li><a class = "active" href="/">Home</a></li>
        <li><a href="/templates/lookup">Entry Look-Up</a></li>
      </ul>
  

      <div id = "content">
        <h3> Welcome to Princeton Connect!</h3>
        <p> Princeton Connect helps students find roommates for summer travels. If this is your first time on the site, go ahead and
          make an entry by clicking the 'Submit Entry' button, where you will enter where you will be for the summer. You can also search
          for already existing entries by clicking the 'Entry Look-Up' button.
        </p>
      </div>

      <div id="id01" class="modal">
        <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
        <form class="modal-content" action="/templates/handleSubmit">
          <div class="container">
            <h1>Your Entry</h1>
            <p>Submit or edit your entry here</p>
            <p>If you already submitted an entry, it will display in the text boxes</p>
            <hr>
            <label for="netid"><b>netid</b></label>
            <input type="text" placeholder="Enter netid" id="netid" name="netid" required>
  
            <label for="name"><b>Name</b></label>
            <input type="text" placeholder="Enter name" id="name" name="name" required>
  
            <label for="email"><b>Email</b></label>
            <input type="text" placeholder="Enter email" id="email" name="email" required>
  
            <label for="phone"><b>Phone</b></label>
            <input type="text" placeholder="Enter phone" id="phone" name="phone" required>
  
            <label for="description"><b>Description</b></label>
            <textarea type="textarea" placeholder="Whether for a roommate or a friend, tell us about yourself and what you're looking for" 
            id="description" name="description" style="height:200px" required></textarea>
  
            <label for="address"><b>Address</b></label>
            <input type="text" placeholder="Enter address" id="address" name="address" required>
      
            <button type="submit" class="btn">Submit</button>
            <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
            <a href="/templates/delete"><button type="button" class="btn delete">Delete Entry</button></a>
          </div>
        </form>
      </div>
      


      <script src=
      "https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js">
            </script>
      <script>


      function openForm() {
        if ( {{netid | tojson}} != "") {
        document.getElementsByName('netid')[0].placeholder= {{netid | tojson}};
        document.getElementsByName('name')[0].placeholder= {{name | tojson}};
        document.getElementsByName('email')[0].placeholder= {{email | tojson}};
        document.getElementsByName('phone')[0].placeholder= {{phone | tojson}};
        document.getElementsByName('description')[0].placeholder= {{description | tojson}};
        document.getElementsByName('address')[0].placeholder= {{address | tojson}};
      }
      document.getElementById('id01').style.display='block';
      }

      function closeForm() {
        document.getElementById("id01").style.display = "none";
      }



      function initialize() {
      var input = document.getElementById('address');
      var autocomplete = new google.maps.places.Autocomplete(input);
      // changes whenever user selects new address in drop down
      google.maps.event.addListener(autocomplete, 'place_changed', function () {
                  var place = autocomplete.getPlace();
              });
        }

      google.maps.event.addDomListener(window, 'load', initialize);
      
      </script>


    </body>
</html>
