<!DOCTYPE html>
<html>
  <head>
    <title> Princeton Connect</title>
    <link rel="stylesheet" href=
    "https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<!--    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">-->
    <meta name="viewport" content="width=device-width,
         initial-scale=1">
    <meta charset="utf-8">

    <style>
      input[type=text], select {
        width: 120%;
        padding: 12px 20px;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        position: relative;
      }

      input[type=submit] {
        width: 120%;
        background-color: #4CAF50;
        color: white;
        padding: 14px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
      }

      input[type=submit]:hover {
        background-color: #45a049;
      }

      h2 {
        text-align: left;
      }
      


    </style>
      
  </head>

       <div class="container bg-primary">
         <center>
            <h1>Temp</h1>
         </center>

         <div class="row">
            <div class="col-sm-3">
               <input class="form-control" type="text"
                  placeholder="name"
                  name="name" id="name"
                  oninput="getResults()">
            </div>
            <div class="col-sm-3">
               <input class="form-control" type="text"
                  placeholder="Description"
                  name="description" id="description"
                  oninput="getResults()">
            </div>
            <div class="col-sm-3">
               <input class="form-control" type="text"
                  placeholder="City"
                  name="city" id="city"
                  oninput="getResults()">
            </div>
         </div>
         <br>
      </div>

      <div class="container">
         <p id="ResultsArea"></p>
      </div>


      <script>

         var request = null;

         function createAjaxRequest()  // From Nixon book
         {
            var req;

            try  // Some browser other than Internet Explorer
            {
               req = new XMLHttpRequest();
            }
            catch (e1)
            {
               try  // Internet Explorer 6+
               {
                  req = new ActiveXObject("Msxml2.XMLHTTP");
               }
               catch (e2)
               {
                  try  // Internet Explorer 5
                  {
                     req = new ActiveXObject("Microsoft.XMLHTTP");
                  }
                  catch (e3)
                  {
                     req = false;
                  }
               }
            }
            return req;
         }

         function processReadyStateChange()
         {
            var STATE_UNINITIALIZED = 0;
            var STATE_LOADING       = 1;
            var STATE_LOADED        = 2;
            var STATE_INTERACTIVE   = 3;
            var STATE_COMPLETED     = 4;

            if (this.readyState != STATE_COMPLETED)
               return;

            if (this.status != 200)         // Request succeeded?
            {
               //alert("AJAX error: Request failed: " +
               //   this.statusText);
               return;
            }

            if (this.responseText == null)  // Data received?
            {
               alert("AJAX error: No data received");
               return;
            }
            var resultsArea = document.getElementById('ResultsArea');
            resultsArea.innerHTML = this.responseText;
         }

         function getResults()
         {
            var name = document.getElementById('name').value;
            var description =
               document.getElementById('description').value;
            var city = document.getElementById('city').value;

            name = encodeURIComponent(name);
            description = encodeURIComponent(description);
            city = encodeURIComponent(city);

            if (request != null)
               request.abort();

            request = createAjaxRequest();
            if (! request)
            {
               alert("AJAX error: Your browser doesn't support AJAX");
               return;
            }

            request.onreadystatechange = processReadyStateChange;

            request.open("GET", "/handleResults?" +
               "name=" + name +
               "&description=" + description +
               "&city=" + city;
            request.send(null);
         }

      </script>

  <body>
      <div id = "header">
          <h1>Princeton Connect</h1>
      </div>
      <!-- Top navigation -->
      <ul class="nav">
        <li><a href="/">Home</a></li>
        <li><a class = "active" href="/templates/lookup">Entry Look-Up</a></li>
      </ul>

    <h2>Search fields</h2>
    <hr />
    <form action="/templates/lookup" method="get">
      <table class="searchbox" style="width:40%">
        <tr>
          <td align = "right">
            <label for="netid">
              <span>NetID: </span>
            </label>
          </td>
          <td><input type="text" id="netid" name="netid" /></td>
        </tr>

        <tr>
          <td align = "right">
            <label for="name">
              <span>Name: </span>
            </label>
          </td>
          <td><input type="text" id="name" name="name" /></td>
        </tr>

        <tr>
          <td align = "right">
            <label for="email">
              <span>Email: </span>
            </label>
          </td>
          <td><input type="text" id="email" name="email" /></td>
        </tr>
        <tr>
          <td align = "right">
            <label for="phone">
              <span>Phone: </span>
            </label>
          </td>
          <td><input type="text" id="phone" name="phone" /></td>
        </tr>
        <tr>
            <td align = "right">
              <label for="description">
                <span>Description: </span>
              </label>
            </td>
            <td><input type="text" id="description" name="description" /></td>
          </tr>
        <tr>
          <td align = "right">
            <label for="City">
              <span>City: </span>
            </label>
          </td>
          <td><input type="text" id="city" name="city" /></td>
        </tr>

        <tr>
           <td></td>
          <td><input type="submit" value="Submit" /></td>
        </tr>
      </table>
    </form>
    <hr />

    <style>
    
      .content-table {
        border-collapse: collapse;
        margin: 25px 0;
        min-width: 400px
        
      }

      .content-table thead tr {
        background-color: #ff5709;
        color: #ffffff;
        font-weight: bold;
        position: relative;
      }

      .content-table th,
      .content-table td {
        padding: 12px 15px;
        font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
      }

      .content-table tbody tr {
        border-bottom: 1px solid #dddddd;
      }

      .content-table tbody tr:nth-of-type(even) {
        background-color: #f3f3f3;
      }


    </style>
    <table class="content-table">
      <thead>
        <tr>
          <th align  = "left">NetID</th>
          <th align  = "left">Name</th>
          <th align  = "left">Email</th>
          <th align  = "left">Phone</th>
          <th align  = "left">Description</th>
          <th align  = "left">City</th>
        </tr>
      </thead>
      <tbody>
        {% if userEntries|length == 0: %}
          (None)
        {% else: %} {% for user in
        userEntries: %}
        <tr>
          <td align  = "left">{{user.getNetid()}}</td>
          <td align  = "left">{{user.getName()}}</td>
          <td align  = "left">{{user.getEmail()}}</td>
          <td align  = "left">{{user.getPhone()}}</td>
          <td align  = "left">{{user.getDescription()}}</td>
          <td align  = "left">{{user.getCity()}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    {% endif %}
    
    <div id="id01" class="modal">
      <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
      <form class="modal-content" action="/templates/handleSubmit">
        <div class="container">
          <h1>Your Entry</h1>
          <p>Submit or edit your entry here</p>
          <p>If you already submitted an entry, it will display in the text boxes</p>
          <hr>
          <label for="netid"><b>netid</b></label>
          <input type="text" placeholder="Enter netid" id="netid" name="netid" required>

          <label for="name"><b>Name</b></label>
          <input type="text" placeholder="Enter name" id="name" name="name" required>

          <label for="email"><b>Email</b></label>
          <input type="text" placeholder="Enter email" id="email" name="email" required>

          <label for="phone"><b>Phone</b></label>
          <input type="text" placeholder="Enter phone" id="phone" name="phone" required>

          <label for="description"><b>Description</b></label>
          <textarea type="textarea" placeholder="Whether for a roommate or a friend, tell us about yourself and what you're looking for"
          id="description" name="description" style="height:200px" required></textarea>

          <label for="address"><b>Address</b></label>
          <input type="text" placeholder="Enter address" id="address" name="address" required>

          <button type="submit" class="btn">Submit</button>
          <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
          <a href="/templates/delete"><button type="button" class="btn delete">Delete Entry</button></a>
        </div>
      </form>
    </div>
    


    <hr />
  </body>
</html>
